In [91]:
%config IPCompleter.greedy=True
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c':100}

In [ ]:
pd.Series(my_list)

In [ ]:
pd.Series(my_list, index=labels)

In [ ]:
pd.Series(arr,labels)

In [13]:
pd.Series(d)

a     10
b     20
c    100
dtype: int64

In [14]:
pd.Series(d)

a     10
b     20
c    100
dtype: int64

In [15]:
pd.Series(d)

a     10
b     20
c    100
dtype: int64

In [16]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [17]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [18]:
ser1 = pd.Series([1,2,3,4], index['USA','CHINA','FRANCE','GERMANY'])

NameError: name 'index' is not defined

In [19]:
ser1 = pd.Series([1,2,3,4], index=['USA','CHINA','FRANCE','GERMANY'])

In [20]:
ser2 = pd.Series([1,2,3,4], index=['USA','CHINA','ITALY','JAPAN'])

In [21]:
ser1

USA        1
CHINA      2
FRANCE     3
GERMANY    4
dtype: int64

In [22]:
ser2

USA      1
CHINA    2
ITALY    3
JAPAN    4
dtype: int64

In [23]:
ser1['USA']

1

In [24]:
import numpy as np
import pandas as pd

In [25]:
from numpy.random import randn

In [26]:
np.random.seed(101)

In [27]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z'])

In [28]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [29]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [30]:
df['A']

KeyError: 'A'

In [ ]:
type(df['W'])

In [ ]:
type(df)

In [ ]:
df.W

In [31]:
df['X']

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [32]:
do you

SyntaxError: invalid syntax (<ipython-input-32-6228772900f5>, line 1)

In [33]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [34]:
df['new'] = df['W'] + df['Y']

In [35]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [36]:
df.drop('new')

KeyError: "['new'] not found in axis"

In [ ]:
df.drop('new',axis=1)

In [ ]:
df.drop('new',axis=1, inplace=True)

In [37]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [38]:
df.drop('E', axis=0)

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542

In [39]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [40]:
df.shape()

TypeError: 'tuple' object is not callable

In [41]:
df.shape

(5, 5)

In [42]:
#Row

In [43]:
df.loc('A')

ValueError: No axis named A for object type <class 'pandas.core.frame.DataFrame'>

In [ ]:
df

In [44]:
df.loc['A']

W      2.706850
X      0.628133
Y      0.907969
Z      0.503826
new    3.614819
Name: A, dtype: float64

In [45]:
df.iloc[2]

W     -2.018168
X      0.740122
Y      0.528813
Z     -0.589001
new   -1.489355
Name: C, dtype: float64

In [46]:
df.loc['B','Y']

-0.8480769834036315

In [47]:
df.iloc[2,0]

-2.018168244037392

In [48]:
df > 0

       W      X      Y      Z    new
A   True   True   True   True   True
B   True  False  False   True  False
C  False   True   True  False  False
D   True  False  False   True  False
E   True   True   True   True   True

In [49]:
booldf = df>0

In [50]:
df[booldf]

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118       NaN       NaN  0.605965       NaN
C       NaN  0.740122  0.528813       NaN       NaN
D  0.188695       NaN       NaN  0.955057       NaN
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [51]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [52]:
df[df['W']>0]

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [53]:
df[df['Z']<0]

          W         X         Y         Z       new
C -2.018168  0.740122  0.528813 -0.589001 -1.489355

In [54]:
resultdf = df[df['W']>0]

In [55]:
resultdf['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [56]:
df[df['W']>0]

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [57]:
df[df['W']>0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [58]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [59]:
boolser = df['W']>0

In [60]:
boolser

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [61]:
result = df[boolser]

In [62]:
boolser = df['W']>0

In [63]:
resukt = df[boolser]

In [64]:
result = df[boolser]

In [65]:
result

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [66]:
mycols = ['Y','X']
result[mycols]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [67]:
df[(df['W']>0) & (df['Y']>1) ]

          W         X         Y         Z       new
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [68]:
df[(df['W']>0) | (df['Y']>1) ]

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [69]:
df.reset_index()

  index         W         X         Y         Z       new
0     A  2.706850  0.628133  0.907969  0.503826  3.614819
1     B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
2     C -2.018168  0.740122  0.528813 -0.589001 -1.489355
3     D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
4     E  0.190794  1.978757  2.605967  0.683509  2.796762

In [70]:
newind = 'CA NY WY OR CO'.split()

In [71]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [72]:
df['States'] = newind

In [73]:
df

          W         X         Y         Z       new States
A  2.706850  0.628133  0.907969  0.503826  3.614819     CA
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959     NY
C -2.018168  0.740122  0.528813 -0.589001 -1.489355     WY
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542     OR
E  0.190794  1.978757  2.605967  0.683509  2.796762     CO

In [74]:
df.set_index('States')

               W         X         Y         Z       new
States
CA      2.706850  0.628133  0.907969  0.503826  3.614819
NY      0.651118 -0.319318 -0.848077  0.605965 -0.196959
WY     -2.018168  0.740122  0.528813 -0.589001 -1.489355
OR      0.188695 -0.758872 -0.933237  0.955057 -0.744542
CO      0.190794  1.978757  2.605967  0.683509  2.796762

In [75]:
import numpy as np
import pandas as pd

In [76]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside =[1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [77]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [78]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B']) #col

In [79]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [83]:
df.loc['G1']

A   -1.706086
B   -1.159119
Name: 2, dtype: float64

In [84]:
df.index.names = ['Groups', 'Num']

In [85]:
df

                   A         B
Groups Num
G1     1    0.302665  1.693723
       2   -1.706086 -1.159119
       3   -0.134841  0.390528
G2     1    0.166905  0.184502
       2    0.807706  0.072960
       3    0.638787  0.329646

In [86]:
df.loc['G2'].loc[2]

A    0.807706
B    0.072960
Name: 2, dtype: float64

In [87]:
df.loc['G2'].loc[2]['B']

0.07295967531703869

In [92]:
df.xs('G1')

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [93]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.302665  1.693723
G2      0.166905  0.184502